
<%- layout('base') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<h1 class="page-heading">Notice <small>컴공 학생회 공지사항</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
  <li><a href="/"><i class="fa fa-home"></i></a></li>
  <li><a href="/notice">공지사항</a></li>
  <li class="active">학과 공지사항</li>
</ol>
<!-- End breadcrumb -->

<div class="the-box no-border blog-detail-content">
  <blockquote>
    <h3><%= post.post_title%></h3>
    <small>
      <table>
        <tr><td><i class="fa fa-calendar icons"></i>
          Posted : <a href=""><%=post.post_register_datetime%></a> </td></tr>
        <tr><td><i class="fa fa-flask icons"></i>
        Author: <a href=""><%=post.post_username%></a></td></tr>
      </table>
    </small>
  </blockquote>
  <p class="text-justify">
      <%-post.post_content%>
  </p>
  <hr />
</div><!-- /the.box .no-border -->
